@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;

    color: white;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.aqua{
    color: #17F290;
}

.light-aqua{
    color: #1CE56C;
}

.fz-14{
    font-size: 14px;
}

.left-20{
    position: relative;
    left: -20px;
}

.mb-40{
    margin-bottom: 40px;
}

@media (max-width: 1290px) {
    .container{
        width: 900px;
    }
}

@media (max-width: 768px) {
    .container{
        width: 600px;
    }
    .left-20{
        left: 0;
    }
}

@media (max-width: 660px) {
    .container{
        max-width: 400px;
    }
}

@media (max-width: 420px) {
    .container{
        max-width: 320px;
    }
}
